In [60]:
a="hhhh"

In [23]:
"I eat %s  apples. %d%%" %(a ,b)

'I eat 22  apples. 2%'

In [21]:
s="I eat %s  apples. %d"

In [22]:
s%(a,b)

'I eat 22  apples. 2'

In [24]:
"%10s" % "hi"

'        hi'

In [25]:
"%3s"%"hi!QQQQ"

'hi!QQQQ'

In [26]:
"%10s"%"hi!QQQQ"

'   hi!QQQQ'

In [27]:
"%-10s" % "hi"

'hi        '

In [28]:
"%10d"%34

'        34'

In [29]:
"%-10d"%34

'34        '

In [30]:
f=34.2345467

In [31]:
"%f"%f

'34.234547'

In [36]:
"%-10.3f"%f

'34.235    '

In [40]:
"I eat {} apples.".format("hhhh")

'I eat hhhh apples.'

In [41]:
"I eat {} apples.".format(3)

'I eat 3 apples.'

In [42]:
s1="I eat {} apples.{}"

In [43]:
s1.format(a,f)

'I eat 22 apples.34.2345467'

In [62]:
s1="I eat {1} apples.{0}"

In [63]:
s1.format(a,f)

'I eat 34.2345467 apples.hhhh'

In [46]:
s1="I eat {a} apples.{f}"

In [58]:
s1.format(a=a,f=b)

'I eat 22 apples.2'

In [61]:
"{0:=^10}".format("hi")

'====hi===='

In [65]:
"f 문자열 포매팅"

'f 문자열 포매팅'

In [68]:
a= 'seho'

In [69]:
f'나의 이름은 {a} 입니다. 나이는 {f}입니다.'

'나의 이름은 seho 입니다. 나이는 34.2345467입니다.'

In [70]:
a="hobby"

In [71]:
a.count('b')

2

In [72]:
len(a)

5

In [73]:
a="python is the best choice"

In [74]:
a.find ('b')

14

In [75]:
a.find('k')

-1

In [78]:
if a.find('b')==-1:
    print("못찾음~")

In [79]:
a.index('b')

14

In [80]:
a.index('k')

ValueError: substring not found

In [81]:
'문자열 삽입 join'

'문자열 삽입 join'

In [82]:
",".join('abcd')

'a,b,c,d'

In [83]:
",".join(['a','b','c','d'])

'a,b,c,d'

In [84]:
a.index?

Docstring:
S.index(sub[, start[, end]]) -> int

Return the lowest index in S where substring sub is found,
such that sub is contained within S[start:end].  Optional
arguments start and end are interpreted as in slice notation.

Raises ValueError when the substring is not found.
Type:      builtin_function_or_method

In [85]:
len?

Signature: len(obj, /)
Docstring: Return the number of items in a container.
Type:      builtin_function_or_method

In [86]:
.join?

Object `join` not found.

In [88]:
a="hi"

In [89]:
a.upper()

'HI'

In [95]:
a.capitalize()

'Hi'

In [96]:
a="Life is too short"

In [97]:
a.replace("Life","your leg")

'your leg is too short'

In [99]:
a.replace(" ","")

'Lifeistooshort'

In [100]:
a="Life is \n too short"

In [102]:
a.replace("\n","")

'Life is too short'

In [103]:
"문자열 나누기 split"

'문자열 나누기 split'

In [104]:
a="Life is too short"

In [105]:
a.split()

['Life', 'is', 'too', 'short']

In [106]:
a.split?

Signature: a.split(sep=None, maxsplit=-1)
Docstring:
Return a list of the words in the string, using sep as the delimiter string.

sep
  The delimiter according which to split the string.
  None (the default value) means split according to any whitespace,
  and discard empty strings from the result.
maxsplit
  Maximum number of splits to do.
  -1 (the default value) means no limit.
Type:      builtin_function_or_method

In [108]:
a="Life , is too , short"

In [112]:
a.split(sep=',')

['Life ', ' is too ', ' short']

In [111]:
a.split(sep=',',maxsplit=1)

['Life ', ' is too , short']

In [113]:
"List 형: 순서가 있으며, Index를 가지고 나타 낸다."

'List 형: 순서가 있으며, Index를 가지고 나타 낸다.'

In [115]:
a = []
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is',[3,4,5]]]

In [116]:
a

[]

In [117]:
b

[1, 2, 3]

In [118]:
c

['Life', 'is', 'too', 'short']

In [119]:
d

[1, 2, 'Life', 'is']

In [120]:
e

[1, 2, ['Life', 'is', [3, 4, 5]]]

In [121]:
c[3]

'short'

In [122]:
c[-1]

'short'

In [123]:
b[1]

2

In [131]:
b[:]

[1, 2, 3]

In [132]:
a = []
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is',[3,4,5]]]

In [134]:
e[2][2][1]

4

In [135]:
e[2][0]

'Life'

In [136]:
 b+c

[1, 2, 3, 'Life', 'is', 'too', 'short']

In [137]:
b*2

[1, 2, 3, 1, 2, 3]

In [138]:
b/2

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [139]:
a

[]

In [140]:
b

[1, 2, 3]

In [142]:
str(b[2])+'hi'

'3hi'

In [143]:
a=[1,2,3]

In [144]:
a[2]=5

In [145]:
a

[1, 2, 5]

In [146]:
del?

Object `del` not found.

In [147]:
del a?

Type:        list
String form: [1, 2, 5]
Length:      3
Docstring:
Built-in mutable sequence.

If no argument is given, the constructor creates a new empty list.
The argument must be an iterable if specified.

In [148]:
del a

In [149]:
a

NameError: name 'a' is not defined

In [150]:
a=[1,2,3]

In [151]:
a

[1, 2, 3]

In [152]:
del a[1]

In [153]:
a

[1, 3]

In [154]:
a=[1,2,3,4,5,6]

In [155]:
del a[2:]

In [156]:
a

[1, 2]

In [157]:
a = [1, 2, 3]
a.append(4)

In [158]:
a

[1, 2, 3, 4]

In [163]:
a = [1, 2, 3]
a.append(4)

In [164]:
a.append([5,6,7])

In [165]:
a

[1, 2, 3, 4, [5, 6, 7]]

In [166]:
a = [1,2,3]
a.extend([4,5])

In [167]:
a

[1, 2, 3, 4, 5]

In [168]:
a=[1,5,3,2]

In [169]:
a.sort()

In [170]:
a

[1, 2, 3, 5]

In [173]:
a=[1,5,3,2]

In [174]:
a

[1, 5, 3, 2]

In [175]:
a.sort(reverse=True)

In [179]:
a=[1,5,6,3,2]

In [180]:
a.reverse()

In [181]:
a

[2, 3, 6, 5, 1]

In [182]:
a=[1,2,3]

In [183]:
a.index(3)

2

In [184]:
a = ['a', 'c', 'b']

In [186]:
a.index('d')

ValueError: 'd' is not in list

In [189]:
a.find('d')

AttributeError: 'list' object has no attribute 'find'

In [190]:
a=[1,2,3]

In [191]:
a.insert(0,4)

In [192]:
a

[4, 1, 2, 3]

In [193]:
a.remove(4)

In [194]:
a

[1, 2, 3]

In [195]:
a.pop()

3

In [196]:
a

[1, 2]

In [197]:
a.count()

TypeError: count() takes exactly one argument (0 given)

In [198]:
a.count?

Signature: a.count(value, /)
Docstring: Return number of occurrences of value.
Type:      builtin_function_or_method

In [201]:
a=[1,2,3,4]

In [203]:
a=['A','B','C','D']

In [204]:
a.reverse()

In [208]:
a

['D', 'C', 'B', 'A']

In [210]:
a.reverse()

In [211]:
a

['A', 'B', 'C', 'D']

In [214]:
a.index('A')

0

Tuple - 요소에 ,를 사용해야 하고 삭제하거나, 수정이 불가하다.

In [219]:
t1 = ()
t2 = (1,)
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ('a', 'b', ('ab', 'cd'))

In [224]:
del t3(1)

SyntaxError: can't delete function call (<ipython-input-224-2ecb474ae32e>, line 1)

Dictionary - 순서가 없다.인덱스 없다.

In [225]:
dic = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}

In [228]:
dic

{'name': 'pey', 'phone': '0119993323', 'birth': '1118'}

In [229]:
dic['name']

'pey'

In [230]:
dic['name']='홍길동'

In [231]:
dic

{'name': '홍길동', 'phone': '0119993323', 'birth': '1118'}

In [232]:
dic['addr']='제주'

In [233]:
dic

{'name': '홍길동', 'phone': '0119993323', 'birth': '1118', 'addr': '제주'}

In [234]:
del dic['addr']

In [235]:
dic

{'name': '홍길동', 'phone': '0119993323', 'birth': '1118'}

In [236]:
dic['addr']='제주'

In [237]:
dic.keys()

dict_keys(['name', 'phone', 'birth', 'addr'])

In [238]:
list(dic.keys())

['name', 'phone', 'birth', 'addr']

In [239]:
dic

{'name': '홍길동', 'phone': '0119993323', 'birth': '1118', 'addr': '제주'}

In [240]:
del dic['addr']

In [241]:
dic.get('addr')

In [242]:
dic.get('name')

'홍길동'

In [243]:
dic['addr']

KeyError: 'addr'

In [244]:
'name' in dic

True

In [245]:
'addr' in dic

False

In [246]:
a='addr' in dic

In [247]:
a

False

집합자료형 - set 키워드를 사용하고 값만 들어간다.

In [254]:
s1= set([1,1,2,2,3,3,4,4,4,5,5])

In [252]:
 s1

{1, 2, 3, 4, 5}

In [257]:
국어=80
영어=75
수학=55

In [258]:
국어+영어+수학

210

In [259]:
국어+영어+수학/3

173.33333333333334

In [1]:
13%2

1

In [2]:
12%2

0

In [3]:
AAA="881120-1068234"

In [14]:
yyyymmdd = AAA[:6]

In [15]:
yyyymmdd

'881120'

In [16]:
num=AAA[7:]

In [17]:
num

'1068234'